<div class="container-title">
    <P class="title">Alunos</P>
    <button pButton class="add" label="Adicionar" (click)="mostrarModalCadastroAluno()" class="p-button-success p-button-rounded"></button>
</div>



<p-table [value]="alunos" [responsive]="true" class="custom-table">
    <ng-template pTemplate="header">
        <tr>
            <th>Aluno</th>
            <th class="actions-column">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-aluno>
        <tr>
            <td>{{ aluno.nome }}</td>
            <td class="actions-column">
                <button pButton icon="pi pi-trash" title="Deletar aluno" class="p-button-danger p-button-rounded" (click)="deletarAlunos(aluno.uuid)"></button>
                <button pButton label="Matricular" class="p-button-success p-button-rounded" (click)="mostrarModalFazerMatricula(aluno.uuid)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Novo Aluno" [modal]="true" [(visible)]="modalCadastrarAluno"
    [closable]="false" [baseZIndex]="10000" [styleClass]="'custom-modal'">
    
    <div class="modal-content" [formGroup]="formAluno">
        <div class="input-container">
            <label for="nome" class="font-semibold">Nome do Aluno</label>
            <input pInputText id="nome" formControlName="nome" class="input-field" autocomplete="off" />
        </div>
        <div class="button-container">
            <button pButton label="Cancelar" severity="secondary" class="cancel-button" (click)="modalCadastrarAluno = false"></button>
            <button pButton label="Salvar" class="save-button" (click)="addAluno()"></button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Matricular Aluno" [modal]="true" [(visible)]="modalFazerMatricula"
    [closable]="false" [baseZIndex]="10000" [styleClass]="'custom-modal'" [style]="{height: 'auto'}">
    
    <div class="modal-content" [formGroup]="formMatricula">
        <div class="input-select">
            <label for="nome" class="font-semibold">Curso:</label>
            <p-select [options]="cursosDisponiveis" optionLabel="nome"
            optionValue="uuid"
            styleClass="w-full md:w-80" placeholder="selecione o curso"
            formControlName="uuidCurso"
            [style]="{width: '100%', height: 'auto'}"
            [appendTo]="'body'" />
        </div>

        <div class="button-container">
            <button pButton label="Cancelar" severity="secondary" class="cancel-button" (click)="modalFazerMatricula = false"></button>
            <button pButton label="Salvar" class="save-button" (click)="matricularAluno()"></button>
        </div>
    </div>
</p-dialog>